<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap;" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/src/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <img src="../assets/icons/logo_plus_motos.svg" alt="plus motos '') " (click)="sendToIndex()">
            <div>
                <a [routerLink]="['']" >Motos</a>
                <a [routerLink]="['/info']">Sobre</a>
            </div>
        </nav>
    </header>
    <router-outlet></router-outlet>
</body>
</html>
